<% layout('../shared/master') %>
<div class="container">
    <div class="col-xs-12 col-sm-12 col-md-6 mt-4">
        <div class="row">
            <div class="col-sm-3 col-md-4 mb-sm-2 text-right mb-3">
                <img src="http://placehold.it/100x100" alt="" class="img-rounded img-fluid" />
            </div>
            <div class="col-sm-6 col-md-8">
                <h4 data-bind="description"></h4>
                <p>A quite simple data binding using jQuery and api services provided by application controllers.</p>
                <p>
                    <span data-bind="name"></span>
                    <br/>
                    created at: <span data-bind="dateCreated"></span>
                </p>
                <div class="btn-group">
                    <button id="dropdownMenuButton" type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown">
                        Social
                    </button>
                    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                        <a class="dropdown-item" href="#">Twitter</a>
                        <a class="dropdown-item" href="#">Facebook</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="#">Github</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <% script('/assets/js/dashboard.js') %>
</div>
